.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Custom
/clases/*
.clases/*
/parcial/*
.parcial/*

.tp4/__pycache__/*
/tp4/__pycache__/*
.tp4/*.pyc